body {
  background: #dbaff7;
}

.box {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 10%;
  width: 700px;
  height: 500px;
}

.car {
  position: absolute;
  border: 4px solid #727272;
  background: #F7F7F7;
  border-top-left-radius: 70px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 70%;
  height: 50%;
  left: 15%;
  top: 28%;
  overflow: hidden;
}

.road {
  position: absolute;
  background: #515051;
  height: 1%;
  width: 80%;
  bottom: 9%;
  left: 10%;
  opacity: 0.8;
}

.bottom-car {
  position: absolute;
  width: 100%;
  height: 45%;
  border-top: 4px solid #727272;
  bottom: 0%;
  background: #2eb2e8;
}

.split-line {
  position: absolute;
  background: #727272;
  height: 100%;
  width: 1.2%;
  left: 63%;
}

.left-window {
  position: absolute;
  border: 4px solid #727272;
  background: #bbe6f7;
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 25%;
  height: 33%;
  left: 5%;
  top: 10%;
}

.center-window {
  position: absolute;
  border: 4px solid #727272;
  background: #bbe6f7;
  border-radius: 10px;
  width: 25%;
  height: 33%;
  left: 35.5%;
  top: 10%;
}

.right-window {
  position: absolute;
  border: 4px solid #727272;
  background: #bbe6f7;
  border-top-right-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 25%;
  height: 33%;
  right: 6%;
  top: 10%;
}

.left-wheel {
  position: absolute;
  border: 4px solid #727272;
  background: #8E8E8E;
  border-radius: 50%;
  height: 18%;
  width: 13%;
  left: 25%;
  bottom: 12.5%;
  z-index: 2;
  -webkit-animation: spinTheWheel 6s infinite linear;
          animation: spinTheWheel 6s infinite linear;
}

.left-wheel-line {
  position: absolute;
  height: 101%;
  width: 6%;
  left: 47%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background: #727272;
}

.left-wheel-circle {
  position: absolute;
  border-radius: 50%;
  height: 20%;
  width: 20%;
  left: 36%;
  top: 36%;
  border: 4px solid #727272;
  background: #F7F7F7;
}

.right-wheel {
  position: absolute;
  border: 4px solid #727272;
  background: #8E8E8E;
  border-radius: 50%;
  height: 18%;
  width: 13%;
  right: 21.5%;
  bottom: 12.5%;
  z-index: 2;
  -webkit-animation: spinTheWheel 6s infinite linear;
          animation: spinTheWheel 6s infinite linear;
}

.right-wheel-line {
  position: absolute;
  height: 101%;
  width: 6%;
  left: 47%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background: #727272;
}

.right-wheel-circle {
  position: absolute;
  border-radius: 50%;
  height: 20%;
  width: 20%;
  left: 36%;
  top: 36%;
  border: 4px solid #727272;
  background: #F7F7F7;
}

.back-wheel {
  position: absolute;
  background: #8E8E8E;
  border: 4px solid #727272;
  height: 20%;
  width: 5%;
  border-radius: 10px;
  left: 11%;
  bottom: 30%;
  z-index: 2;
}

.light {
  position: absolute;
  border: 4px solid #727272;
  background: #D7D5AE;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 6%;
  width: 3%;
  right: 11.8%;
  bottom: 40%;
}

.cloud {
  position: absolute;
  height: 20%;
  width: 20%;
  right: 0%;
  top: 2%;
  -webkit-animation: cloudMove 25s infinite linear;
          animation: cloudMove 25s infinite linear;
}

.bottom {
  position: absolute;
  background: white;
  height: 35%;
  width: 100%;
  border-radius: 50px;
  bottom: 20%;
}

.top-left {
  position: absolute;
  background: white;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  left: 10%;
  top: 10%;
}

.top-right {
  position: absolute;
  background: white;
  border-radius: 50%;
  height: 70%;
  width: 50%;
  right: 10%;
  top: 5%;
}

@-webkit-keyframes spinTheWheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinTheWheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes cloudMove {
  0% {
    right: 0%;
  }
  20% {
    right: 16%;
  }
  40% {
    right: 32%;
  }
  60% {
    right: 48%;
  }
  80% {
    right: 64%;
  }
  100% {
    right: 80%;
  }
}

@keyframes cloudMove {
  0% {
    right: 0%;
  }
  20% {
    right: 16%;
  }
  40% {
    right: 32%;
  }
  60% {
    right: 48%;
  }
  80% {
    right: 64%;
  }
  100% {
    right: 80%;
  }
}
/*# sourceMappingURL=style.css.map */